<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Seed</th>
      <th>Sown on</th>
      <th>Compost mix</th>
      <th>Location</th>
      <th>Percentage germinated</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sowings.each do |sowing| %>
      <tr>
        <td><%= link_to sowing.seed.name, sowing.seed %></td>
        <td><%= sowing.sown_on %></td>
        <td><%= sowing.compost_mix %></td>
        <td><%= sowing.location %></td>
        <td><%= sowing.percentage_germinated %></td>
        <td><%= link_to 'Show', sowing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sowing', new_sowing_path %>
