<p id="notice"><%= notice %></p>

<p>
  <strong>Sown on:</strong>
  <%= @sowing.sown_on %>
</p>

<p>
  <strong>Compost mix:</strong>
  <%= @sowing.compost_mix %>
</p>

<p>
  <strong>Location:</strong>
  <%= @sowing.location %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @sowing.notes %>
</p>

<p>
  <strong>Num sown:</strong>
  <%= @sowing.num_sown %>
</p>

<p>
  <strong>Num germinated:</strong>
  <%= @sowing.num_germinated %>
</p>

<p>
  <strong>Percentage germinated:</strong>
  <%= @sowing.percentage_germinated %>
</p>

<p>
  <strong>First germinated on:</strong>
  <%= @sowing.first_germinated_on %>
</p>

<p>
  <strong>Potted on:</strong>
  <%= @sowing.potted_on %>
</p>

<%= link_to 'Edit', edit_seed_sowing_path(@seed, @sowing) %> |
<%= link_to 'Back', seed_sowings_path(@seed) %>
