<%= form_with(model: [seed, growing], local: true) do |form| %>
  <% if growing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(growing.errors.count, "error") %> prohibited this growing from being saved:</h2>

      <ul>
      <% growing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, size: 100 %>
  </div>

  <div class="field">
    <%= form.label :seed_id %>
    <%= form.collection_select :seed_id, Seed.current.by_name, :id, :name, {include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :for_sale %>
    <%= form.check_box :for_sale %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
