<p id="notice"><%= notice %></p>

<h1>Growings</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created on</th>
      <th>Stages</th>
      <th>For sale?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @growings.each do |growing| %>
      <tr>
        <td><%= growing.name %></td>
        <td><%= growing.created_at.to_date %></td>
        <td><%= growing.growing_stages.count %></td>
        <td><%= growing.for_sale %></td>
        <td><%= link_to 'Show', growing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Growing', new_growing_path %>
