<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Seed</th>
      <th>Plant name</th>
      <th>Sown on</th>
      <th>Compost mix</th>
      <th>Location</th>
      <th>Percentage germinated</th>
      <th>For sale?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @growings.each do |growing| %>
      <tr>
        <td><%= link_to growing.seed.name, growing.seed if growing.seed %></td>
        <td><%= growing.plant_name %></td>
        <td><%= growing.sown_on %></td>
        <td><%= growing.compost_mix %></td>
        <td><%= growing.location %></td>
        <td><%= growing.percentage_germinated %></td>
        <td><%= growing.for_sale %></td>
        <td><%= link_to 'Show', growing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Growing', new_growing_path %>
