<p id="notice"><%= notice %></p>

<h1>Growing</h1>
<p>
  <strong>Name:</strong>
  <%= @growing.name %>
</p>

<% if @growing.seed %>
  <p>
    <strong>Seed:</strong>
    <%= link_to @growing.seed.name, @growing.seed %>
  </p>
<% end %>

<p>
  <strong>For sale?:</strong>
  <%= @growing.for_sale %>
</p>

<% if @growing.growing_stages.any? %>
  <h2>Stages</h2>
  <table>
    <tbody>
      <% @growing.growing_stages.each do |growing_stage| %>
        <tr>
          <td><%= link_to growing_stage.stage_type, growing_stage %></td>
          <td><%= growing_stage.started_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_growing_path(@growing) %> |
<%= link_to 'New growing stage', new_growing_stage_path(growing_id: @growing.id) %> |
<%= link_to 'Destroy', @growing, method: :delete, data: { confirm: 'Are you sure?' } %>
