<%= form_with(model: seed, local: true) do |form| %>
  <% if seed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seed.errors.count, "error") %> prohibited this seed from being saved:</h2>

      <ul>
      <% seed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, size: 100 %>
  </div>

  <div class="field">
    <%= form.label :acquired %>
    <%= form.date_select :acquired %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :covered_sowing_months %>
    <%= form.text_field :covered_sowing_months %>
  </div>

  <div class="field">
    <%= form.label :direct_sowing_months %>
    <%= form.text_field :direct_sowing_months %>
  </div>

  <div class="field">
    <%= form.label :sow_by %>
    <%= form.date_select :sow_by %>
  </div>

  <div class="field">
    <%= form.label :seeds_remaining %>
    <%= form.check_box :seeds_remaining %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
