<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Acquired</th>
      <th>Source</th>
      <th>Sow by</th>
      <th>Sowings</th>
    </tr>
  </thead>

  <tbody>
    <% @seeds.each do |seed| %>
      <tr>
        <td><%= link_to seed.name, seed %></td>
        <td><%= seed.acquired %></td>
        <td><%= seed.source %></td>
        <td><%= seed.sow_by %></td>
        <td><%= seed.sowings.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seed', new_seed_path %>
