<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name <%= sorter(:n) %></th>
      <th>Acquired <%= sorter(:a) %></th>
      <th>Source <%= sorter(:o) %></th>
      <th>Sowing months</th>
      <th>Sow by <%= sorter(:s) %></th>
      <th>Seeds remaining? <%= filter_on_boolean(:r) %></th>
      <th>Num. Growings</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seeds.each do |seed| %>
      <tr>
        <td><%= seed.name %></td>
        <td><%= seed.acquired %></td>
        <td><%= seed.source %></td>
        <td>
          <%= sowing_months(seed.covered_sowing_months) %><br />
          <%= sowing_months(seed.direct_sowing_months) %>
        </td>
        <td><%= seed.sow_by %></td>
        <td><%= seed.seeds_remaining %></td>
        <td><%= seed.growings.count %></td>
        <td><%= link_to 'Show', seed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seed', new_seed_path %>
