<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seed.name %>
</p>

<p>
  <strong>Acquired:</strong>
  <%= @seed.acquired %>
</p>

<p>
  <strong>Source:</strong>
  <%= @seed.source %>
</p>

<p>
  <strong>Sow by:</strong>
  <%= @seed.sow_by %>
</p>

<p>
  <strong>Sowings:</strong>
  <%= link_to @seed.sowings.count, seed_sowings_path(@seed) %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
