<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seed.name %>
</p>

<p>
  <strong>Acquired:</strong>
  <%= @seed.acquired %>
</p>

<p>
  <strong>Source:</strong>
  <%= @seed.source %>
</p>

<p>
  <strong>Covered sowing months:</strong>
  <%= sowing_months(@seed.covered_sowing_months) %>
</p>

<p>
  <strong>Direct sowing months:</strong>
  <%= sowing_months(@seed.direct_sowing_months) %>
</p>

<p>
  <strong>Sow by:</strong>
  <%= @seed.sow_by %>
</p>

<p>
  <strong>Sowings:</strong>
  <%= @seed.sowings.count %>
</p>

<p>
  <strong>Seeds remaining?:</strong>
  <%= @seed.seeds_remaining %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Delete', @seed, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Sowings', seed_sowings_path(@seed) %>
