<!DOCTYPE html>
<html>
  <head>
    <title>Plants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Growings', growings_path %> |
      <%= link_to 'Growing stages', growing_stages_path %> |
      <%= link_to 'Seeds', seeds_path %>
    </nav>
    <%= yield %>
  </body>
</html>
